{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>Django web app with PostgreSQL in Azure - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
        <link rel="icon"href="{% static 'favicon.ico' %}">
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img src="{% static 'images/azure-icon.svg' %}" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Azure Restaurant Review
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">                
            <ul class="navbar-nav mb-2 mb-md-0 ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown07XL" data-bs-toggle="dropdown" aria-expanded="true">Azure Docs</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown07XL" data-bs-popper="none">
                        <li><a class="dropdown-item" target="_blank" href="https://docs.microsoft.com/azure">Azure Docs Home</a></li>
                        <li><a class="dropdown-item" target="_blank" href="#">Python Web App + PostgreSQL Database Tutorial</a></li>
                        <li><a class="dropdown-item" target="_blank" href="https://azure.microsoft.com/develop/python/">Python on Azure</a></li>
                        <li><a class="dropdown-item" target="_blank" href="https://docs.microsoft.com/azure/developer/python">Python on Azure Developer Center</a></li>
                    </ul>
                </li>
            </ul>
          </div>
        </div>
      </nav>

   


    
    <h1>Create Accountt </h1>
    <h1>Create Accountt </h1>
    <h1>Create Accountt </h1>
    <h1>Create Accountt </h1>
    <h1>Create Accountt </h1>
    <h1>Create Accountt </h1>
    <h1>Create Accountt </h1>
<div class="container">

              <form method="POST" action="{% url 'create_account'%}">{% csrf_token %}


                <div class="mb-3">                        
                    <label for="username" class="form-label fw-bold">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                    <label for="password" class="form-label fw-bold">Password</label>
                    <input type="password" class="form-control" id="password" name="password">

                  
                      <label for="f_name" class="form-label fw-bold">First Name</label>
                      <input type="text" class="form-control" id="f_name" name="f_name">
                      <label for="l_name" class="form-label fw-bold">Last Name</label>
                      <input type="text" class="form-control" id="l_name" name="l_name">
                      <label for="email" class="form-label fw-bold">Email</label>
                      <input type="text" class="form-control" id="email" name="email">
                      <label for="phone" class="form-label fw-bold">Phone Number</label>
                      <input type="number" class="form-control" id="phone" name="phone">
                      <label for="city" class="form-label fw-bold">City</label>
                      <input type="text" class="form-control" id="city" name="city">
                      <label for="country" class="form-label fw-bold">Country</label>
                      <input type="text" class="form-control" id="country" name="country">
                      <label for="birth_date" class="form-label fw-bold">Birth Date</label>
                      <input type="text" class="form-control" id="birth_date" name="birth_date">
                  </div>
                <button type="submit" class="btn btn-primary">Create Account</button>
        </form>
      </div>     
</body>
</html>
