{% extends "restaurant_review/base.html" %}
{% load restaurant_extras %}
{% block title %}Restaurant List{% endblock %}

{% block content %}
 
<div class="container pt-5">  
  <div class="row">
  <div class="col d-flex justify-content-end">
          <a href="{% url 'create_account_page' %}" class="btn btn-success">Create Account</a>
  </div>
  <div class="col d-flex justify-content-end">
    <a href="{% url 'sign_in_page' %}" class="btn btn-success">Sign In</a>
</div>
</div>
</div>

{% endblock %}
