{% extends "restaurant_review/base.html" %}
{% load restaurant_extras %}
{% block title %}Restaurant List{% endblock %}
{% block head %}
    {{ block.super }}
    <style>
      body {
          min-height: 75rem;
          padding-top: 4.5rem;
      }

      .score {
        display: block;
        font-size: 16px;
        position: relative;
        overflow: hidden;
      }
      
      .score-wrap {
        display: inline-block;
        position: relative;
        height: 19px;
      }
      
      .score .stars-active {
        color: #EEBD01;
        position: relative;
        z-index: 10;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
      }
      
      .score .stars-inactive {
        color: grey;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-text-stroke: initial;
        /* overflow: hidden; */
      }
  </style>
{% endblock %}
{% block content %}
 

  <div class="d-flex justify-content-end">
          <a href="{% url 'create_account_page' %}" class="btn btn-success px-4 gap-3">Sign In</a>
  </div>
  <div class="d-flex justify-content-end">
    <a href="{% url 'sign_in_page' %}" class="btn btn-success px-4 gap-3">Sign In</a>
</div>
{% endblock %}